.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}
.header {
    width: 100vw;
    background-color: #7c9aff;
    padding-bottom: 30px;
    position: fixed;
    top: 0;
    height: 143px;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.header > div {
    max-width: 1300px;
    width: 100%;
    padding: 0 30px;
}
.title-container, .search-input-none-mobile, .search-input-mobile {
    width: 100%;
}
.title-container {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 30px 0;
}
.title-container p {
    font-weight: bold;
    font-size: 30px;
}
.title-container .search {
    position: absolute;
    right: 14px;
    cursor: pointer;
}
.search-input-none-mobile {
    display: none;
}
.search-input {
    position: relative;
}
.search-input svg {
    position: absolute;
    right: 10px;
    top: 12px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
#search {
    width: calc(100% - 26px);
    padding: 12px;
    border: 1px solid #F6F6F6;
    color: #767676!important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
#search:focus {
    box-shadow: 0px 0px 10px!important;
    outline: none;
}
.body {
    width: 100vw;
    display: flex;
    background-color: #84b9ec;
    margin-top: 170px;
    height: calc(100vh - 170px);
    overflow: hidden;
}
.body > div {
    padding: 30px;
    max-width: 1300px;
    width: 100%;
    display: flex;
    position: relative;
    height: calc(100vh - 226px);
    align-items: stretch;
}
.body .WatchList {
    display: none;
}
@media (min-width: 760px) {
    .header {
        flex-direction: row;
    }
    .body {
        flex-direction: row;
        justify-content: center;
    }
    .body .WatchList {
        width: 340px;
        display: flex;
        margin-right: 30px;
        height: 100%;
        border-bottom: 0 none;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    }
    .search-input-none-mobile {
        display: block;
    }
    .search-input-mobile {
        display: none;
    }
    .search {
        display: none;
    }
}