.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: #9cb8b3;
    position: fixed;
    top: 0;
    height: 102px;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.header > div {
    max-width: 1300px;
    width: 100%;
    padding: 0 30px;
}
.title-container, .search-input-none-mobile, .search-input-mobile {
    width: 100%;
}
.title-container {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 30px 0;
}
.title-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: block;
    font-style: normal;
    padding-top: 0.1em;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
    color: #efedce;
}
.title-container .search {
    position: absolute;
    right: 14px;
    cursor: pointer;
}
.search-input-none-mobile {
    display: none;
}
.search-input {
    position: relative;
}
.search-input svg {
    position: absolute;
    left: 10px;
    top: 12px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
#search {
    width: calc(100% - 50px);
    padding: 12px 12px 12px 35px;
    border: 0;
    color: #767676!important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
#search:focus {
    box-shadow: 0px 0px 10px!important;
    outline: none;
}
.body {
    width: 100vw;
    display: flex;
    background-color: rgba(30, 53, 37, 0.5);
    margin-top: 103px;
    height: calc(100vh - 103px);
    overflow: hidden;
    justify-content: center;
}
.body > div {
    padding: 30px;
    max-width: 1300px;
    width: calc(100% - 60px);
    display: flex;
    position: relative;
    height: calc(100vh - 226px);
    align-items: stretch;
}
.body .WatchList {
    display: none;
}
@media (min-width: 760px) {
    .App {
        padding: 0 30px;
    }
    .header {
        height: 143px;
        flex-direction: row;
        padding-bottom: 30px;
    }
    .body {
        flex-direction: row;
        margin-top: 170px;
        height: calc(100vh - 170px);
    }
    .title-container p {
        font-size: 56px;
    }
    .body > div {
        width: 100%;
    }
    .body .WatchList {
        width: 340px;
        display: flex;
        margin-right: 30px;
        height: 100%;
        border-bottom: 0 none;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    }
    .search-input-none-mobile {
        display: block;
    }
    .search-input-mobile {
        display: none;
    }
    .search {
        display: none;
    }
}