.TweetList {
    width: 100%;
    height: 100%;
}
.TweetList > div {
    overflow: auto;
    height: 100%;
    margin-top: -3px;
}
.TweetList > div > div {
    height: 100%;
}
.noTweetsMsg {
    padding: unset!important;
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,.46);
    font-size: 25px;
}
.noTweetsMsg svg {
    margin-right: 20px;
}
.no-search-results-msg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,.46);
    font-size: 25px;
}
.TweetCard {
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.99);
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.TweetCard:first-child {
    margin-top: 3px;
}
.TweetCard:last-child {
    margin-bottom: 3px;
}
.TweetCard img {
    border-radius: 50%;
    margin-right: 12px;
    box-shadow: 0 1px 5px rgba(0,0,0,.46);
}
.content-user-name-timestamp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
}
.content-user-name-timestamp a {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.tweet-card-content {
    width: 100%;
}
.timestamp {
    width: 104px;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    color: #767676;
}
.content-msg {
    color: #101010;
    font-size: 14px;
    line-height: 1.5;
}
@media (max-width: 429px) {
    .content-user-name-timestamp {
        flex-direction: column;
        justify-content: unset;
    }
    .content-user-name-timestamp a {
        margin-bottom: 10px;
    }
}