.WatchList {
    flex-direction: column;
}
.WatchList, .WatchListItem {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.99);
}
.WatchListItem {
    position: relative;
    padding: 14px 0;
    cursor: pointer;
    justify-content: center;
}
.WatchListItem:hover {
    background-color: #F6F6F6;
}
.WatchListItem:hover .trash {
    display: block;
}
.WatchListItem .trash {
    display: none;
    position: absolute;
    left: 28px;
    top: 29px;
    z-index: 2;
}
.WatchListItem .trash:hover svg {
    color: #808080;
}
.WatchListItem p {
    font-weight: 600;
    text-transform: uppercase;
}
.WatchListItem p:last-child {
    position: absolute;
    right: 28px;
    top: 14px;
}