.WatchList {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.WatchList > div {
    max-height: 100%;
    overflow: auto;
    width: 100%;
}
.WatchList > p {
    background-color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #000;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.WatchList, .WatchListItem {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.99);
}
.search-input-mobile .WatchList {
    flex-direction: column;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    height: 100%;
}
.search-input-mobile .WatchList > p {
    text-align: center;
    padding: 14px 0;
    background-color: #FFF;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.search-input-mobile .WatchList>div {
    height: calc(100vh - 170px);
}
.WatchListItem {
    position: relative;
    padding: 14px 0;
    cursor: pointer;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0,0,0,.10);
    align-items: center;
}
.WatchListItem:hover {
    background-color: #F6F6F6;
}
.WatchListItem:hover .trash {
    display: block;
}
.WatchListItem .trash {
    display: none;
    position: absolute;
    left: 16px;
    top: 14px;
    z-index: 2;
}
.WatchListItem .trash:hover svg {
    color: #808080;
}
.WatchListItem p {
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(30,53,37,.5);
}
@media (max-width: 429px) {
    .WatchListItem p {
        font-size: 12px;
    }
}